SimpleWebSocketServer/*
*.wav
.env
*.mp3
_snowboydetect.so
resources
snowboydetect.py

*.enc
*.tar.gz
*.o
*.json
*.so
*.pem
*.pyc
*.tar.xz
*.key
*.crt
**/.config.json
*_gui_auto.py
*.autosave
**/.idea/*
*.ini
*.log
*.log.*

!**/.example_config.json
